<div class="container_nav_social_icons">
    <div>
        <a class="navigation__social__button" href="https://twitter.com/iearnfinance" target="_blank" rel="noopener noreferrer" >
            <svg class="social__icon">
                <use xlink:href="images/twitter_icon.svg#twitter"></use>
              </svg>
        </a>
    </div>
    <div>
        <a class="navigation__social__button" href="https://medium.com/iearn" target="_blank" rel="noopener noreferrer">
          <svg class="social__icon">
            <use xlink:href="images/medium_icon.svg#medium"></use>
          </svg>
        </a>
    </div>
    <div>
        <a class="navigation__social__button" href="https://twitter.com/iearnfinance" target="_blank" rel="noopener noreferrer">
            <svg class="social__icon">
                <use xlink:href="images/discord_icon.svg#discord"></use>
              </svg>
        </a>
    </div>
    <div>
        <a class="navigation__social__button" href="https://github.com/antonnell/yearn-finance.git" target="_blank" rel="noopener noreferrer">
            <svg class="social__icon">
                <use xlink:href="images/github_icon.svg#github"></use>
              </svg>
        </a>	
    </div>
</div>