<div class="nav collapsible top_header">				
    <div class="nav__txt">
        <div class="yearn">
            <p class="word__yearn">yearn</p>
        </div>
        <div class="finance">
            <p class="word__finance">finance</p>
        </div>
    </div>
    <div class="burger__box">
        <svg class="burger__icon">
            <use xlink:href="images/sprite.svg#menu"></use>
        </svg>
    </div>
<div class="burger_list collapsible__content">
    <div class="nav__container">
        <div class="nav__option"></div>
        <svg class="nav__icon">
            <use xlink:href="images/iconthebest.svg#2784288_finance_business_money_icon"></use>
        </svg>
        <h2 class="nav__word__icon">Invest</h2>
    </div>
    <div class="nav__container">
        <div class="nav__option"></div>
        <svg class="nav__icon">
            <use xlink:href="images/stats-icon.svg#statistics"></use>
          </svg>
        <h2 class="nav__word__icon">Stats</h2>
    </div>
</div>
</div>