<div class="main_layout">
    <dix class="top__layout__box">
        <div class="left_top_items_layout">
            <div class="header_search">
                <div class="search">
                    <input
                        placeholder="Instant Search ⚡"
                        type="text"
                        class="input__search"
                        value=""
                    />
                </div>
                <span type="submit">
                    <p class="shortcut">⊞ Win+K or /</p>
                </span>
            </div>
        </div>
        <div class="right__top">
            <button class="small__btn">
                <span></span>
                <p class="small__txt">need help?</p>
            </button>
            <button class="small__btn">
                <p class="small__txt">connect wallet</p>
            </button>
        </div>
    </dix>
    <div class="left_nav_container">
        <div class="nav__header">
            <a href="#" class="nav__link">
                <div class="nav__txt">
                    <div class="yearn">
                        <p class="word__yearn">yearn</p>
                    </div>
                    <div class="finance">
                        <p class="word__finance">finance</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="left__nav__buttons">
            <div class="nav__container">
                <div class="nav__option"></div>
                <svg class="nav__icon">
                    <use
                        xlink:href="images/iconthebest.svg#2784288_finance_business_money_icon"
                    ></use>
                </svg>
                <h2 class="nav__word__icon">Invest</h2>
            </div>
            <div class="nav__container">
                <div class="nav__option"></div>
                <svg class="nav__icon">
                    <use xlink:href="images/stats-icon.svg#statistics"></use>
                </svg>
                <h2 class="nav__word__icon">Stats</h2>
            </div>
        </div>
        <div class="container_nav_social_icons">
            <div>
                <a
                    class="navigation__social__button"
                    href="https://twitter.com/iearnfinance"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg class="social__icon">
                        <use xlink:href="images/twitter_icon.svg#twitter"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a
                    class="navigation__social__button"
                    href="https://medium.com/iearn"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg class="social__icon">
                        <use xlink:href="images/medium_icon.svg#medium"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a
                    class="navigation__social__button"
                    href="https://twitter.com/iearnfinance"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg class="social__icon">
                        <use xlink:href="images/discord_icon.svg#discord"></use>
                    </svg>
                </a>
            </div>
            <div>
                <a
                    class="navigation__social__button"
                    href="https://github.com/antonnell/yearn-finance.git"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <svg class="social__icon">
                        <use xlink:href="images/github_icon.svg#github"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>