<dix class="top__layout__box">
    <div class="left_top_items_layout">
        <div class="header_search">
            <div class="search">
                <input
                    placeholder="Instant Search ⚡"
                    type="text"
                    class="input__search"
                    value=""
                />
            </div>
            <span type="submit">
                <p class="shortcut">⊞ Win+K or /</p>
            </span>
        </div>
    </div>
    <div class="right__top">
        <button class="small__btn">
            <span></span>
            <p class="small__txt">need help?</p>
        </button>
        <button class="small__btn">
            <p class="small__txt">connect wallet</p>
        </button>
    </div>
</dix>